@media (max-width: 760px) {
    .eventoprimavera {
        display: flex;
        flex-direction: column;
        align-items: center;

        .fotoevento {
            width: 100%;
        }

        .infoevento {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-template-columns: none;
            grid-template-rows: none;
            padding: 20px;
            padding-left: 15px;
            padding-right: 15px;
    
            h1,
            h2,
            p,
            .quehacer,
            .extra {
                grid-column: auto;
                grid-row: auto;
                text-align: center;
                width: 100%;
                line-height: 1.6;
                margin: 10px;

                ul {
                    margin-left: 0;
                    padding-left: 1.5rem;
                    list-style: disc outside;
                }
            }
        }
    }

}