@media (max-width: 760px) {
    .eventoprimavera {
        flex-direction: column;
        align-items: center;

        .fotoevento {
            width: 100%;
        }

        .infoevento {
            flex-direction: column;
            grid-template-columns: none;
            grid-template-rows: none;
            padding: 20px;
    
            h1,
            h2,
            p,
            .quehacer,
            .extra {
                grid-column: auto;
                grid-row: auto;
                line-height: 1;
                margin: 10px;


            }
        }
    }

}