@media (max-width: 760px) {
    main {
        .bienvenida {
            text-align: center;
            margin: 100px;
        }

        .titulo {
            padding: 40px;
        }

        section {
            margin: 20px solid black;
        }
    }
}
