@media (max-width: 724px) {
    .sobrenosotros {
        margin: 40px 20px;
        padding: 10px;

        .nosotros {
            font-size: 1.2rem;
            padding: 10px 20px;
        }

        p {
            font-size: 1rem;
            padding: 8px 10px;
            line-height: 1.6;
        }
    }

    .app {
        flex-direction: column;
        padding: 20px;

        .celular-container {
            width: 100%;
            margin: 20px 0;
            padding: 10px;
            max-height: 350px;

            .celular {
                max-width: 80%;
            }
        }

        .info1,
        .info2 {
            max-height: 400px;
        }

        .encabezado1, .encabezado2, .x, .y {
            margin-top: 20px !important;
            font-size: 1.2rem;
        }

        .x, .y {
            margin-top: 60px;
        }

        p {
            font-size: 1rem;
            line-height: 1.6;
            padding: 0 10px;
        }
        .info2 {
            padding-top: 180px;
        }
    }
}