@media (max-width: 760px) {
    .sobrenosotros {
        margin: 40px 20px;
        padding: 10px;

        .nosotros {
            font-size: 1.2rem;
            padding: 10px 20px;
        }

        p {
            font-size: 1rem;
            padding: 8px 10px;
            line-height: 1.6;
        }
    }

    .app {
        flex-direction: column;
        padding: 20px;

        div {
            width: 100%;
            margin: 20px 0;
            padding: 10px;

            .celular {
                max-width: 80%;
            }

            .encabezado1, .encabezado2, .x, .y {
                margin-top: 20px;
                font-size: 1.2rem;
            }

            .x, .y {
                margin-top: 60px;
            }

            p {
                font-size: 1rem;
                line-height: 1.6;
                padding: 0 10px;
            }
            
        }
    }
}