@media (max-width: 760px) {
    .sedes {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
            width: 90%;
            margin: 20px;
            z-index: 10;
            position: relative;
            flex-direction: column;
            align-items: center;

            figure {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 0;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .contenido {
                padding: 10px;

                h2 {
                    font-size: 1.5rem;
                }

                nav {
                    font-size: 1rem;
                }
            }
        }
    }


    section .carruselfl,
    section .carruselvb {
        .carousel-inner,
        .carousel-item,
        img {
            height: 400px;
            width: auto;
        }

        .carousel-caption {
            bottom: 30px;
            text-align: center;
            font-size: 1.2rem;
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: 10%;

            &::before {
                opacity: 0.6;
            }
        }

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            width: 30px;
            height: 30px;
        }
    }
}

