    @mixin p ($fs) {
        font-size: $fs;
    }

    .app {
        display: flex;
        color: white;
        background-color: black;
        justify-content: center;
        align-items: center;
        min-height: 600px;
        gap: 30px;
        padding: 80px;
        
        div {
            width: 100%;
            min-height: 300px;
            text-align: center;
            padding: 25px;

            .celular {
                margin: 10px;
                max-width: 450px;
                height: 400px;
                opacity: 0;
                transition: opacity 2s ease;
            }
            .animate__fadeInUp {
                opacity: 1 !important;
            }
        }
        .info1,
        .info2 {
            transition: opacity 1.2s ease;

            h2 {
                color: #91ffff;
                @include p(1.6rem);
                font-family: 'Bebas Neue', sans-serif;
                letter-spacing: 2px;
                font-size: 2rem;
            }
            p {
                @include p(1.2rem);
                line-height: 1.2; 
                font-family: 'Montserrat', sans-serif;
                font-size: 1rem;
            }
        }
    }

