* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}
body header {
  display: flex;
  height: 100px;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
body header .logo {
  display: flex;
  align-items: center;
}
body header .logo img {
  height: 80px;
  margin-left: 10px;
}
body header .abrir-menu {
  display: none;
}
body header nav {
  display: flex;
  gap: 15px;
  align-items: center;
}
body header nav .nav-link {
  font-weight: 600;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
body header nav .nav-link:hover {
  color: aqua;
}

/* redes sociales */
.outro {
  background-color: black;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 20px;
  grid-template-areas: "logo botones" "redes botones";
}
.outro .logo {
  grid-area: logo;
}
.outro .logo .isologo {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  max-width: 300px;
  height: auto;
  border-bottom: 2px solid aqua;
}
.outro .redes {
  grid-area: redes;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.outro .redes .ig, .outro .redes .fb, .outro .redes .wpp {
  width: 50px;
  margin: 5px;
  padding: 5px;
}
.outro .botones {
  grid-area: botones;
  display: flex;
  gap: 10px;
  justify-self: end;
}
.outro .botones .ingreso {
  color: black;
  background-color: aqua;
  border-radius: 5px;
  height: 50px;
  padding: 10px 15px;
  cursor: pointer;
}
.outro .botones .registro {
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
.outro .botones button {
  padding: 10px 15px;
  cursor: pointer;
}
.outro .botones button:hover {
  background-color: lightblue;
}

footer {
  height: 50px;
  text-align: center;
  align-content: center;
  background-color: black;
  color: white;
}

/* div bienvenida */
main section {
  display: flex;
}
main .background {
  margin: 0;
  position: static;
  height: 430px;
  display: flex;
  justify-content: center;
}
main .background img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .bienvenida {
  color: black;
  text-align: left;
  margin: 10px 40px 10px 40px;
  background-color: white;
  padding: 15px;
  margin: 150px;
  text-align: start;
}
main .bienvenida h1 {
  line-height: 1.6;
  font-size: 2rem;
}
main .bienvenida p {
  line-height: 1.6;
  font-size: 1.5rem;
}
main .titulo {
  text-align: center;
  background-color: black;
  color: aqua;
  margin: 0;
  padding: 40px;
  text-decoration: underline;
}
main .containers {
  background-color: black;
  margin: 20px solid black;
}
main .containers .testimonio {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  max-width: 550px;
  line-height: 1.6;
}
main .containers .testimonio h2, main .containers .testimonio img, main .containers .testimonio p {
  display: block;
  margin: 10px auto;
  color: white;
}
main .containers .testimonio .estrellas {
  width: 50%;
  max-width: 100px;
  height: auto;
}

/* NOSOTROS */
.sobrenosotros {
  padding: 15px;
  margin: 100px 200px;
  text-align: center;
}
.sobrenosotros .nosotros {
  -webkit-text-decoration: underline aqua;
          text-decoration: underline aqua;
  display: inline-block;
  padding: 15px 30px;
  margin: 20px auto;
  background-color: black;
  background-size: 10px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
}
.sobrenosotros p {
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 10px 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 20px;
}

.app {
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  gap: 30px;
}
.app div {
  width: 100%;
  padding: 10px;
  min-height: 300px;
  text-align: center;
}
.app div .celular {
  margin: 10px;
  max-width: 450px;
  height: auto;
  opacity: 0;
  transition: opacity 1.2s ease;
}
.app div .animate__fadeInUp {
  opacity: 1 !important;
}
.app div .encabezado1, .app div .encabezado2, .app div .x, .app div .y {
  margin-top: 40px;
  color: aqua;
}
.app div .x, .app div .y {
  margin-top: 100px;
}

.sedes .containerservice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: black;
}
.sedes .containerservice .card {
  margin: 30px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.sedes .containerservice .card:hover {
  box-shadow: 5px 5px 20px rgb(0, 240, 255);
  transform: translateY(-3%);
}
.sedes .containerservice .card figure {
  margin: 20px;
}
.sedes .containerservice .card figure img {
  height: 400px;
}
.sedes .containerservice .card .contenido {
  padding-bottom: 15px;
  text-align: center;
}
.sedes .containerservice .card .contenido h2 {
  font-weight: 400px;
  margin-bottom: 10px;
}
.sedes .containerservice .card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 4px;
  background-color: aqua;
  color: black;
}
.sedes .containerservice .card .contenido a:hover {
  background-color: black;
  color: aqua;
}
.sedes .containerservice .card .contenido nav {
  line-height: 1.5;
  color: black;
  margin: 15px;
}

/* carrusel */
.carruselfl,
.carruselvb {
  margin-top: 40px;
  background-color: black;
  position: relative;
  max-width: 100%;
  margin: auto;
}
.carruselfl .carousel-inner img,
.carruselfl .carousel-item img,
.carruselvb .carousel-inner img,
.carruselvb .carousel-item img {
  width: 100%;
  height: 800px;
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
}
.carruselfl .carousel-item,
.carruselvb .carousel-item {
  position: relative;
  overflow: hidden;
}
.carruselfl .carousel-item::before,
.carruselvb .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.carruselfl .carousel-item:hover::before,
.carruselvb .carousel-item:hover::before {
  opacity: 1;
}
.carruselfl .carousel-item .carousel-caption,
.carruselvb .carousel-item .carousel-caption {
  position: absolute;
  z-index: 2;
}
.carruselfl .carousel-slide,
.carruselvb .carousel-slide {
  position: relative;
}
.carruselfl .carousel-control-prev, .carruselfl .carousel-control-next,
.carruselvb .carousel-control-prev,
.carruselvb .carousel-control-next {
  width: 5%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  /* Degradado lateral */
}
.carruselfl .carousel-control-prev::before, .carruselfl .carousel-control-next::before,
.carruselvb .carousel-control-prev::before,
.carruselvb .carousel-control-next::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.carruselfl .carousel-control-prev::before,
.carruselvb .carousel-control-prev::before {
  left: 0;
  background: linear-gradient(to right, rgb(0, 240, 255), transparent);
  transition: opacity 0.3s ease-in-out;
}
.carruselfl .carousel-control-next::before,
.carruselvb .carousel-control-next::before {
  right: 0;
  background: linear-gradient(to left, rgb(0, 240, 255), transparent);
  transition: opacity 0.3s ease-in-out;
}
.carruselfl .carousel-control-prev-icon,
.carruselfl .carousel-control-next-icon,
.carruselvb .carousel-control-prev-icon,
.carruselvb .carousel-control-next-icon {
  position: relative;
  z-index: 1;
}

/* en casa */
.virtual {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(33, 50px);
  grid-template-rows: repeat(9, 50px);
  max-width: 100%;
}
.virtual .titulovirtual {
  grid-row: 3/4;
  grid-column: 7/15;
}
.virtual .p1 {
  grid-row: 5/7;
  grid-column: 8/15;
}
.virtual .p2 {
  grid-row: 7/9;
  grid-column: 8/15;
}
.virtual .encasa {
  grid-row: 2/8;
  grid-column: 23/28;
  height: 350px;
}

/* EVENTO PRIMAVERA */
.eventoprimavera .fotoevento {
  width: 100%;
}
.eventoprimavera .infoevento {
  display: grid;
  grid-template-columns: repeat(29, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 100%;
}
.eventoprimavera .infoevento h1 {
  grid-row: 2/3;
  grid-column: 12/19;
  -webkit-text-decoration: underline aqua;
          text-decoration: underline aqua;
  display: inline-block;
  padding: 15px 30px;
  margin: 20px auto;
  background-color: black;
  background-size: 10px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
}
.eventoprimavera .infoevento h2 {
  grid-row: 3/4;
  grid-column: 11/20;
  text-align: center;
}
.eventoprimavera .infoevento p {
  grid-row: 3/4;
  grid-column: 10/21;
  text-align: center;
  justify-self: end;
}
.eventoprimavera .infoevento h3 {
  -webkit-text-decoration: underline aqua;
          text-decoration: underline aqua;
}
.eventoprimavera .infoevento .quehacer {
  grid-row: 2/7;
  grid-column: 17/21;
}
.eventoprimavera .infoevento .extra {
  grid-row: 2/7;
  grid-column: 22/26;
}

/* CONTACTO */
.acordion {
  margin: 40px;
}
.acordion .preguntas {
  -webkit-text-decoration: underline aqua;
          text-decoration: underline aqua;
}

.contacto {
  background-color: aqua;
  width: 100%;
}
.contacto .contenidocontact {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(6, 1fr);
  max-width: 100%;
}
.contacto .contenidocontact h1 {
  grid-column: 6/12;
  grid-row: 2/3;
}
.contacto .contenidocontact .infocontacto {
  margin: 10px;
  grid-column: 6/13;
  grid-row: 3/6;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.contacto .contenidocontact .infocontacto .contactofl {
  display: grid;
  grid-template-columns: repeat(18, 20px);
  grid-template-rows: repeat(7, 20px);
}
.contacto .contenidocontact .infocontacto .contactofl h5 {
  grid-column: 1/8;
  grid-row: 1/2;
}
.contacto .contenidocontact .infocontacto .contactovb {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(7, auto);
}
.contacto .contenidocontact .infocontacto .contactovb h5 {
  grid-column: 1/10;
  grid-row: 1/4;
}
.contacto .contenidocontact .infocontacto div .direccion {
  grid-column: 4/19;
  grid-row: 3/8;
}
.contacto .contenidocontact .formulario {
  grid-column: 19/29;
  grid-row: 2/9;
  gap: 10px;
}
.contacto .contenidocontact .formulario input, .contacto .contenidocontact .formulario textarea {
  padding: 10px;
  font-size: 1rem;
}
.contacto .contenidocontact .formulario .form-floating1 {
  grid-column: 17/22;
  grid-row: 3/4;
}
.contacto .contenidocontact .formulario .form-floating2 {
  grid-column: 22/26;
  grid-row: 3/4;
}
.contacto .contenidocontact .formulario .form-floating3 {
  grid-column: 18/22;
  grid-row: 4/5;
}
.contacto .contenidocontact .formulario .form-floating4 {
  grid-column: 22/26;
  grid-row: 4/5;
}
.contacto .contenidocontact .formulario .form-floating5 {
  grid-column: 1/26;
  grid-row: 5/6;
}
.contacto .contenidocontact .formulario .form-floating6 {
  grid-column: 18/26;
  grid-row: 6/9;
}

/* TABLETS */
@media (max-width: 1500px) {
  .outro {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    display: flex;
  }
  .outro .isologo {
    justify-self: center;
    max-width: 250px;
  }
  .outro .redes {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .outro .botones {
    justify-content: center;
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 1500px) {
  main .bienvenida {
    text-align: center;
    margin: 40px;
    line-height: 1.6;
    font-size: 1.5rem;
  }
  main .titulo {
    padding: 40px;
  }
  main .containers {
    margin: 20px black;
    gap: 20px;
    padding: 20px;
  }
  main .testimonio {
    width: 100%;
    line-height: 1.6;
  }
}
@media (max-width: 1500px) {
  .app {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .app .celular-container {
    height: 600px;
    width: 500px;
  }
  .app .info1,
  .app .info2 {
    width: 100%;
    max-width: 600px;
    height: 400px;
    text-align: center;
  }
  .app .encabezado1,
  .app .encabezado2,
  .app .x,
  .app .y {
    font-size: 1.5rem;
  }
  .app p {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 0 20px;
  }
}
@media (max-width: 1500px) {
  .sedes {
    justify-content: center;
  }
  .sedes .card {
    margin: 20px auto;
  }
  .sedes .card figure {
    margin: 15px;
  }
  .sedes .card figure img {
    width: 100%;
    height: auto;
  }
  .sedes .card .contenido {
    padding: 10px;
  }
  .sedes .card .contenido h2 {
    font-size: 1.5rem;
  }
  .sedes .card .contenido nav {
    font-size: 1rem;
  }
  .carruselfl .carousel-inner img,
  .carruselfl .carousel-item img,
  .carruselvb .carousel-inner img,
  .carruselvb .carousel-item img {
    height: 600px;
  }
  .carruselfl .carousel-caption,
  .carruselvb .carousel-caption {
    bottom: 30px;
    text-align: center;
    font-size: 1.2rem;
  }
  .carruselfl .carousel-control-prev, .carruselfl .carousel-control-next,
  .carruselvb .carousel-control-prev,
  .carruselvb .carousel-control-next {
    width: 10%;
  }
  .carruselfl .carousel-control-prev::before, .carruselfl .carousel-control-next::before,
  .carruselvb .carousel-control-prev::before,
  .carruselvb .carousel-control-next::before {
    opacity: 0.6;
  }
  .carruselfl .carousel-control-prev-icon,
  .carruselfl .carousel-control-next-icon,
  .carruselvb .carousel-control-prev-icon,
  .carruselvb .carousel-control-next-icon {
    width: 30px;
    height: 30px;
  }
  .virtual {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, auto);
    padding: 40px;
  }
  .virtual .titulovirtual {
    grid-row: 1/2;
    grid-column: 3/11;
    text-align: center;
  }
  .virtual .p1 {
    grid-row: 2/3;
    grid-column: 3/11;
    text-align: center;
  }
  .virtual .p2 {
    grid-row: 3/4;
    grid-column: 3/11;
    text-align: center;
  }
  .virtual .encasa {
    grid-row: 4/6;
    grid-column: 3/11;
    height: auto;
    max-width: 100%;
    justify-self: center;
  }
}
@media (max-width: 1500px) {
  .eventoprimavera {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eventoprimavera .fotoevento {
    width: 100%;
  }
  .eventoprimavera .infoevento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px;
  }
  .eventoprimavera .infoevento h1,
  .eventoprimavera .infoevento h2,
  .eventoprimavera .infoevento p,
  .eventoprimavera .infoevento .quehacer,
  .eventoprimavera .infoevento .extra {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    line-height: 1.6;
  }
}
@media (max-width: 1500px) {
  .contacto .contenidocontact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 80px);
  }
  .contacto .contenidocontact h1 {
    grid-column: 5/9;
    font-size: 2rem;
    text-align: center;
  }
  .contacto .contenidocontact .infocontacto {
    grid-column: 3/8;
    grid-row: 3/8;
    flex-direction: row;
  }
  .contacto .contenidocontact .infocontacto .contactofl h5,
  .contacto .contenidocontact .infocontacto .contactovb h5 {
    font-size: 1.5rem;
  }
  .contacto .contenidocontact .infocontacto .contactofl .direction,
  .contacto .contenidocontact .infocontacto .contactovb .direction {
    padding-left: 10px;
  }
  .contacto .contenidocontact .infocontacto .contactofl .direction p,
  .contacto .contenidocontact .infocontacto .contactovb .direction p {
    margin: 5px;
    font-size: 1rem;
  }
  .contacto .contenidocontact .infocontacto .contactovb {
    grid-template-columns: repeat(18, 20px);
    grid-template-rows: repeat(7, 20px);
  }
  .contacto .contenidocontact .infocontacto .contactovb h5 {
    grid-column: 1/15;
  }
  .contacto .contenidocontact .formulario {
    grid-column: 7/11;
    grid-row: 3/7;
    gap: 10px;
  }
}
@media (max-width: 760px) {
  body {
    margin: 0;
  }
  body header {
    height: auto;
    padding: 10px;
    position: relative;
    background-color: black;
    flex-direction: row;
    padding: 10px;
  }
  body header .logo img {
    height: 80px;
    margin: 10px;
  }
  body header .abrir-menu {
    display: block !important;
    background: aqua;
    font-size: 20px;
    color: black;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
  }
  body header nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    z-index: 1000;
  }
  body header nav.mostrar-menu {
    display: flex !important;
  }
  .outro {
    grid-template-areas: "logo" "redes" "botones";
    grid-template-columns: 1fr;
    text-align: center;
  }
  .outro .logo {
    justify-content: center;
    margin-top: 10px;
  }
  .outro .redes {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .outro .redes img {
    width: 40px;
  }
  .outro .botones {
    justify-self: center;
    flex-direction: column;
    gap: 10px;
  }
  .outro .botones button {
    width: 100%;
  }
}
@media (max-width: 760px) {
  main .bienvenida {
    text-align: center;
    margin: 60px;
  }
  main .bienvenida p {
    line-height: 1.6;
    font-size: 1.2rem;
  }
  main .titulo {
    padding: 40px;
  }
  main .containers {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  main .testimonio {
    width: 285px;
  }
}
@media (max-width: 760px) {
  .sobrenosotros {
    margin: 40px 20px;
    padding: 10px;
  }
  .sobrenosotros .nosotros {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
  .sobrenosotros p {
    font-size: 1rem;
    padding: 8px 10px;
    line-height: 1.6;
  }
  .app {
    flex-direction: column;
    padding: 20px;
  }
  .app .celular-container {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    max-height: 350px;
  }
  .app .celular-container .celular {
    max-width: 80%;
  }
  .app .info1,
  .app .info2 {
    max-height: 400px;
  }
  .app .encabezado1, .app .encabezado2, .app .x, .app .y {
    margin-top: 20px !important;
    font-size: 1.2rem;
  }
  .app .x, .app .y {
    margin-top: 60px;
  }
  .app p {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 10px;
  }
}
@media (max-width: 760px) {
  .sedes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sedes .card {
    z-index: 10;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 300px;
  }
  .sedes .card figure {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
  }
  .sedes .card figure img {
    width: 100%;
    height: 100% !important;
  }
  .sedes .card .contenido {
    padding: 10px;
  }
  .sedes .card .contenido h2 {
    font-size: 1.5rem;
  }
  .sedes .card .contenido nav {
    font-size: 1rem;
  }
  .carruselfl .carousel-inner img,
  .carruselfl .carousel-item img,
  .carruselvb .carousel-inner img,
  .carruselvb .carousel-item img {
    height: 250px;
  }
  .carruselfl .carousel-caption,
  .carruselvb .carousel-caption {
    bottom: 30px;
    text-align: center;
    font-size: 1.2rem;
  }
  .carruselfl .carousel-control-prev,
  .carruselfl .carousel-control-next,
  .carruselvb .carousel-control-prev,
  .carruselvb .carousel-control-next {
    width: 10%;
  }
  .carruselfl .carousel-control-prev::before,
  .carruselfl .carousel-control-next::before,
  .carruselvb .carousel-control-prev::before,
  .carruselvb .carousel-control-next::before {
    opacity: 0.6;
  }
  .carruselfl .carousel-control-next-icon,
  .carruselfl .carousel-control-prev-icon,
  .carruselvb .carousel-control-next-icon,
  .carruselvb .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
  }
  .virtual {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, auto);
  }
  .virtual .titulovirtual,
  .virtual .p1,
  .virtual .p2 {
    grid-column: 2/12;
  }
}
@media (max-width: 760px) {
  .eventoprimavera {
    flex-direction: column;
    align-items: center;
  }
  .eventoprimavera .fotoevento {
    width: 100%;
  }
  .eventoprimavera .infoevento {
    flex-direction: column;
    grid-template-columns: none;
    grid-template-rows: none;
    padding: 20px;
  }
  .eventoprimavera .infoevento h1,
  .eventoprimavera .infoevento h2,
  .eventoprimavera .infoevento p,
  .eventoprimavera .infoevento .quehacer,
  .eventoprimavera .infoevento .extra {
    grid-column: auto;
    grid-row: auto;
    line-height: 1;
    margin: 10px;
  }
}
@media (max-width: 760px) {
  .contacto {
    display: flex;
    flex-direction: column;
  }
  .contacto .contenidocontact {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, auto);
    width: 100%;
  }
  .contacto .contenidocontact h1 {
    font-size: 1.5rem;
    text-align: center;
    grid-column: 4/8;
    gap: 20px;
    margin: 20px;
  }
  .contacto .contenidocontact .infocontacto {
    grid-column: 1/-1;
    gap: 20px;
    margin: 40px;
  }
  .contacto .contenidocontact .infocontacto .contactofl,
  .contacto .contenidocontact .infocontacto .contactovb {
    flex: 45%;
    min-width: 150px;
    box-sizing: border-box;
  }
  .contacto .contenidocontact .infocontacto .contactofl {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(15, auto);
  }
  .contacto .contenidocontact .infocontacto .contactofl h5 {
    font-size: 1.2rem;
  }
  .contacto .contenidocontact .infocontacto .contactofl .direction {
    padding-left: 10px;
    grid-column: 2/10 !important;
  }
  .contacto .contenidocontact .infocontacto .contactofl .direction p {
    margin: 2px;
    font-size: 1rem;
  }
  .contacto .contenidocontact .infocontacto .contactovb {
    grid-column: 6/10;
    gap: 10px;
  }
  .contacto .contenidocontact .infocontacto .contactovb h5 {
    font-size: 1.2rem;
  }
  .contacto .contenidocontact .infocontacto .contactovb .direction {
    padding-left: 10px;
  }
  .contacto .contenidocontact .infocontacto .contactovb .direction p {
    margin: 2px;
    font-size: 1rem;
  }
  .contacto .contenidocontact .formulario {
    grid-column: 2/10;
    grid-row: 10/15;
    gap: 10px;
  }
  .contacto .contenidocontact .formulario .form-floating1,
  .contacto .contenidocontact .formulario .form-floating2,
  .contacto .contenidocontact .formulario .form-floating3,
  .contacto .contenidocontact .formulario .form-floating4,
  .contacto .contenidocontact .formulario .form-floating5,
  .contacto .contenidocontact .formulario .form-floating6 {
    width: 100%;
    max-width: 100%;
    margin: 5px;
  }
  .contacto .contenidocontact .formulario .form-floating6 textarea {
    height: 120px !important;
  }
}/*# sourceMappingURL=style.css.map */