
.logo {
    justify-content: center;
    margin-top: 10px;
}

/* index */
.bienvenida {
    text-align: center;
    margin: 10px;
}

.testimonio { 
    width: 90%;
}

.outro {
    grid-template-areas: 
        "logo"
        "redes"
        "botones";
    grid-template-columns: 1fr;
    text-align: center;
}

.redes {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.redes img {
    width: 40px;
}

.botones {
    justify-self: center;
    flex-direction: column;
    gap: 10px;
}

.botones button{
    width: 100%;
}

main {
    padding: 10px;
}
.app div{
    min-width: 280px;
}

.celular {
    width: 350px;
}

/* servicios */
.card {
    width: 100%;
    margin: 10px;
}

.card .contenido {
    padding: 10px;
}

.card .contenido a {
    padding: 8px;
}

.card img {
    width: 100%;
    height: auto;
}

.carruselfl {
    max-width: 100%;
}

.carruselfl img {
    max-width: 500px;
}


/* EVENTO */
.eventoprimavera {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoevento {
    width: 100%;
}

.infoevento {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: none;
    grid-template-rows: none;
    padding: 20px;
}

.infoevento h1, .infoevento h2, .infoevento p, .quehacer, .extra {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
}


/* CONTACTO */
.contenidocontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.infocontacto {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactofl, .contactovb {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
}


