@media (max-width: 724px) {
    body {
        .links-inter {
            position: sticky;
            top: 100px;
            .list-inter {
                .sub-links {
                    font-size: 0.7rem;
                }
                .separacion {
                    padding: 5px;
                }
            }
        }

        .container-fluid {
            .background {
                .presentacion {
                    max-width: 605px;
                }
            }
            .bienvenida {
                text-align: center;
                padding: 60px 20px;
                h1 {
                    font-size: 1.5rem;
                }
                p {
                    line-height: 1.6;
                    font-size: 0.8rem;
                }
            }
        }

        .section-test {
            .titulo {
                text-align: center;
                display: flex;
            }

            .containers-testimonios {
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
                
                .testimonio {
                    width: 285px;
                }
            }
        }
    }
}