.navoutro {
    background-color: black;
    align-self: center;
    
    &::before {
        content: "";
        display: block;
        max-width: 30%;
        height: 2px;
        background-color: aqua;
        margin: 0 auto;

    }

    .linksnav {
        nav {
            display: flex;
            height: 100px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            text-align: center;

            a {
                color: white !important;
                text-decoration: none;
                font-size: 1rem;
            }
        }
    }
}