/* redes sociales */
.outro {
    background-color: black;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 60px;
    grid-template-areas:
        "logo botones"
        "redes botones";

    .logo {
        grid-area: logo;

        .isologo {
            display: flex;
            margin-top: 10px;
            padding: 10px;
            max-width: 300px;
            height: auto;
            border-bottom: 2px solid aqua;
        }
    }

    .redes {
        grid-area: redes;
        display: flex;
        justify-content: center;
        gap: 20px;

        .ig, .fb, .wpp {
            width: 50px;
            margin: 5px;
            padding: 5px;
        
        }
    }

    .linksnav {

        nav {
            display: flex;
            flex-direction: column;
            height: 150px;
            gap: 10px;
            text-align: end;

            a {
                color: white !important;
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }
}

