@mixin item-contenedor() {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 240, 255, 4);
    width: 500px;
}

html{
    scroll-behavior: smooth;
}

.blog-bg {
    background-color: #040016;
}

.intro-blog {
    padding: 150px;
    text-align: center;
    transition: opacity 2s ease;

    .container-blog {
        color: white;

        .blog-titulo {
            font-family: 'Bebas Neue', sans-serif;
            letter-spacing: 2px;
            font-size: 2rem;
        }

        .texto-intro {
            p{
                line-height: 1.6;
                font-size: 1.5rem;
            }
        }
    }
}

// categorias //
.mis-categorias {
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
        font-size: 3rem;
        text-decoration: underline aqua;;
    }

    .fotos-categories {
        display: flex;
        margin: 20px auto;

        .category {
            text-decoration: none;
            
            h3 {
                color: white;
                position: relative;
                top: 140px;
                font-family: 'Bebas Neue', sans-serif;
                letter-spacing: 2px;
                font-size: 2rem;
            }

            .blog-que-es,
            .tips {
                width: 580px;
            }
        }
    }
}

// PLACEHOLDER //
%titulos {
    display: inline-block;
    padding: 15px 30px;
    background-color: #91ffff;
    background-size: 10px;
    border-radius: 40px;
    color: black;
    font-weight: bold;
    transition: opacity 1s ease;
    max-height: 200px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    font-size: 2rem;
}
// que es... //

.que-es {
    margin-top: 80px;

    .que-es-sub {
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 1200px;

        .que-es-titulo1 {
            @extend %titulos;
        }

        .container-que-es {
            display: flex;
            flex-direction: column;
            gap: 80px;
            width: 100%;
            max-width: 1550px;
            margin: 40px auto;

            .contenido-que-es {
                display: flex;
                gap: 50px;
            }

            .bordes-grises {
                @include item-contenedor();

                .texto-blog {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    color: white;
                }
            }
            
            .foto-sub-tips {
                max-height: 150px;
                max-width: 250px;
                margin: 10px
            }
            
            .et1 {
                text-align: left;
                margin-bottom: 5px;
                font-size: 1.6rem;
            }

            .p1,
            .p2 {
                @extend .et1;
                font-size: 1rem;
            }
        }
    }
}

.tips-de-entrenamiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    
    .tips-sub {
        max-width: 1200px;
        text-align: center;

        .tips-titulo {
            @extend %titulos;
        }

        .container-tips {
            display: flex;
            flex-direction: column;
            gap: 80px;
            width: 100%;
            max-width: 1550px;
            margin: 40px auto;

            .contenido-tips {
                display: flex;
                gap: 50px;
            }
            
            .bordes-grises {
                @include item-contenedor();
                
                .foto-sub-tips {
                    max-height: 150px;
                    max-width: 250px;
                    margin: 10px;
                }
                .texto-blog {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    color: white;
                }
            }



            .et1 {
                text-align: left;
                margin-bottom: 5px;
                font-size: 1.6rem;
            }

            .p1,
            .p2 {
                @extend .et1;
                font-size: 15px;
            }
        }
    }
}