/* TABLETS */
@media (max-width: 1500px) {
    .outro {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 15px;
        display: flex;

        .isologo {
            justify-self: center;
            max-width: 250px;
        }

        .redes {
            display: flex;
            gap: 15px;
            justify-content: center;
        }

        .linksnav {
            padding-top: 40px;

            nav {
                flex-direction: row;
                padding: 10px;
            }

            &::before {
                content: "";
                display: block;
                max-width: 90%;
                height: 2px;
                background-color: aqua;
                margin: 0 auto;
            }
        }
    }
}



    

    


