@media (max-width: 1100px) {
    .contacto {
        padding: 20px;
        .contenidocontact {
            margin: 40px;
            h1 {
                font-size: 2rem;
                text-align: center;
            }

            .containercontact {
                padding: 10px 30px;
                .infocontacto {
                    .contactofl,
                    .contactovb {
                        h5 {
                            font-size: 1.5rem;
                        }

                        .direction {
                            padding-left: 10px;

                            p {
                                margin: 5px;
                                font-size: 1rem;
                            }
                        }
                    }
                }

                .formulario {
                    input, textarea {
                        padding: 4px 8px;
                        font-size: 1rem;
                        height: 30px;
                        box-sizing: border-box;
                        width: 300px;
                    }
                }
            }
        }
    }
}