@media (max-width: 1500px) {
    .contacto {
        padding: 15px;

        .contenidocontact {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto;
            
            padding: 20px;

            h1 {
                grid-column: 2/12;
                
                font-size: 2rem;
                text-align: center;
            }

            .infocontacto {
                grid-column: 2/12;
                display: flex;
                flex-direction: row;
                

                .contactofl,
                .contactovb {
                    display: flex;
                    flex-direction: column;

                    h5 {
                        font-size: 1.5rem;
                    }

                    .direction {
                        padding-left: 10px;

                        p {
                            margin: 5px;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}