@media (max-width: 1500px) {
    main {
        .bienvenida {
            text-align: center;
            line-height: 1.6;
            font-size: 1.5rem;
        }

        .titulo {
            padding: 40px;
            display: flex;
            align-items: center;
        }

        .containers {
            margin: 20px black;
            gap: 20px;
            padding: 20px;
            
        }

        .testimonio {
            width: 100%;
            line-height: 1.6;
        }
    }
}
