/* carrusel */
.carruselfl, 
.carruselvb {
    margin-top: 40px;
    background-color: black;
    position: relative;
    max-width: 100%;
    margin: auto;
    transition: opacity 1.2s ease;
    padding: 50px 100px;

    .carousel-inner,
    .carousel-item {
        img {
            width: 100%;
            height: 550px;
            display: block;
            object-fit: fill;
        }
    }

    .carousel-item {
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            pointer-events: none;
        }

        &:hover::before {
            opacity: 1;
        }

        .carousel-caption {
            position: absolute;
            z-index: 2;
            
            .nombre {
                font-family: 'Bebas Neue', sans-serif;
                font-size: 2rem;
                letter-spacing: 2px;
            }
        }
    }

    .carousel-slide {
        position: relative;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        position:absolute;
        z-index: 2;

        /* Degradado lateral */
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            pointer-events: none;
        }
    }

    .carousel-control-prev {
        left: 0;
        &::before {
            background: linear-gradient(to right, rgba(0, 240, 255, 1), transparent);
            transition: opacity 0.3s ease-in-out;
        }
    }

    .carousel-control-next {
        right: 0;
        &::before {
            background: linear-gradient(to left, rgba(0, 240, 255, 1), transparent);
            transition: opacity 0.3s ease-in-out;
        }
    }
    

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        position: relative;
        z-index: 3;
    }
}
