/* en casa */
.virtual {
    margin: 0 auto;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(33, 50px);
    grid-template-rows: repeat(9, 50px);
    max-width: 100%;
    transition: opacity 1.2s ease;

    .titulovirtual {
        font-family: 'Bebas Neue', sans-serif;

        grid-row: 3/4;
        grid-column: 7/15;
    }

    .p1 {
        grid-row: 5/7;
        grid-column: 8/15;
        font-family: 'Montserrat', sans-serif;
    }

    .p2 {
        grid-row: 7/9;
        grid-column: 8/15;
        font-family: 'Montserrat', sans-serif;
    }

    .encasa  {
        grid-row: 2/8;
        grid-column: 23/28;
        height: 350px;
    }
}