/* en casa */
.virtual {
    padding: 50px 200px;
    background-color: #67ffff;
    max-width: 100%;
    transition: opacity 1.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-encasa {
        width: 400px;
        align-items: center;
        .titulovirtual {
            font-family: 'Bebas Neue', sans-serif;
        }
        .p1,
        .p2 {
            font-family: 'Montserrat', sans-serif;
        }
    }
    
    .img-encasa {
        .encasa  {
            height: 350px;
        }
    }
}