/* CONTACTO */
.acordion {
    margin: 70px;
    background-color: white;

    .preguntas {
        text-decoration: underline aqua;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
    }
}