/* input */
.form-floating1, .form-floating2, .form-floating3, .form-floating4, .form-floating5, .form-floating6 {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
}

.form-floating1 {
    grid-column: 18/22;
    grid-row: 3/4;
}

.form-floating2 {
    grid-column: 22/26;
    grid-row: 3/4;
}

.form-floating3 {
    grid-column: 18/22;
    grid-row: 4/5;
}

.form-floating4 {
    grid-column: 22/26;
    grid-row: 4/5;
}

.form-floating5 {
    grid-column: 18/26;
    grid-row: 5/6;
}

.form-floating6 {
    grid-column: 18/26;
    grid-row: 6/9;
}